xml-lab-4/gradeReport.dtd

<!ELEMENT gradeReport (date, subject, examiner, gradeList)>
<!ATTLIST gradeReport id CDATA #REQUIRED>
<!ELEMENT date (#PCDATA)>
<!ELEMENT subject (#PCDATA)>
<!ELEMENT examiner (#PCDATA)>
<!ELEMENT gradeList (gradeRecord+)>
<!ELEMENT gradeRecord (student, grade)>
<!ATTLIST gradeRecord id CDATA #REQUIRED>
<!ELEMENT student (#PCDATA)>
<!ELEMENT grade (#PCDATA)>